// Import individual page styles
@import './pages/home';
@import './pages/about';
@import './pages/features';
@import './pages/clans';
@import './pages/clan-details';
@import './pages/cwl';
@import './pages/farming';
@import './pages/contact';
